*{
  margin: 0;
  padding: 0;
  background-color: #F0F2F5;
}

.statutbar{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.logo{
  margin-left: 5%;
}

.clear{
  clear: both;
}


.slide-toggle{
  display: none;
}

.slidemenu{
  font-family: arial, sans-serif;
  width: 25%;
  max-width: 450px;
  min-width: 300px;
  margin-left: auto;
  margin-right: 38%;
  overflow: hidden;
}

.slidemenu label{
  width: 33.33%;
  text-align: center;
  display: block;
  float: left;
  color: #333;
  opacity: 0.2;
}

.slidemenu label:hover{
  cursor: pointer;
  color: #666;
}

.slidemenu label span{
  display: block;
  padding: 10px;    
}

.slidemenu label .icon{
  font-size: 20px;
  border: solid 2px #333;
  text-align: center;
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 50%;
}

/*Bar Style*/

.slider{
  width: 100%;
  height: 5px;
  display: block;
  background: #ccc;
  margin-top: 10px;
  border-radius: 5px;
}

.slider .bar{
  width: 33.3333%;
  height: 5px;
  background: #333;
  border-radius: 5px;
}

/*Animations*/
.slidemenu label, .slider .bar {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}

/*Toggle*/

.slidemenu .slide-toggle:checked + label{
  opacity: 1;
}



.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 33.3333%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 66.6666%; }